body {
  font-family: Inter, sans-serif;
  margin: 0;
  padding: 0;
}

.header-container {
  width: 100%;
  background-color: #f55a5a;
  height: 55px;
  color: white;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.navbar .navbar-logo {
  width: 24px;
  margin-right: 7px;
}

.navbar .navbar-text {
  font-size: 0.9rem;
  font-weight: 500;
}

main {
  padding: 2.5%;
}

.destination-container {
  display: flex;
}

.destination-img-container {
  height: 168px;
  width: 125px;
  overflow: hidden;
  flex-shrink: 0;
}

.destination-img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.destination-details {
  margin-left: 20px;
}

.destination-location {
  display: flex;
  padding-top: 10px;
}

.destination-location .destination-marker-container {
  display: flex;
  align-items: center;
}

.destination-location .destination-marker-container .destination-marker {
  height: 9.65px;
}

.destination-marker {
  height: 9.5px;
  margin: 0 5px 0 0;
}

.country-name {
  font-size: 0.64rem;
  letter-spacing: 17%;
}

.destination-maps-link {
  color: #918e9b;
  font-size: 0.64rem;
  margin-left: 1rem;
}

.destination-name {
  font-size: 1.563rem;
}

.travel-date {
  font-size: 0.64rem;
}

.destination-description {
  font-size: 0.64rem;
}
